<div class="row d-flex d-md-none d-lg-none d-xl-none">
  <div class="col-12 d-flex justify-content-between align-items-center p-0 pt-2 pb-2 pl-3">
    <h2 (click)="openNewPayment()" class="btn btn-sm btn-success btn-square">
      <i class="fa fa-plus"></i>
    </h2>
    <h2 (click)="isPaymentCollapsed = !isPaymentCollapsed" class="btn bg-transparent border-0 text-success">
      <i class="fa fa-chevron-up"></i>
    </h2>
  </div>
</div>
<div *ngIf="payments.length > 0" class="row d-flex d-md-none d-lg-none d-xl-none border-bottom p-3">
  <mobile-header class="col-12"></mobile-header>
  <mobile-payment class="col-12" *ngFor="let payment of payments" [payment]="payment" [toPay]="toPay"></mobile-payment>
</div>
<div *ngIf="payments.length === 0" class="row border-bottom p-3">
  <div class="col-12 bg-grey">
    <div class="alert text-danger" role="alert">no payments</div>
  </div>
</div>