<form [formGroup]="form">
  <div *ngIf="object.value.length === 0 || edit" class="modal-header">
    <h4 class="modal-title" i18n>{{ title }}</h4>
    <button type="button" (click)="close()" class="close" aria-label="Close">
      <i class="nb-close"></i>
    </button>
  </div>
  <div *ngIf="object.value.length > 0 && !edit" class="modal-header bg-success">
    <h4 class="modal-title text-white" i18n>{{ object.value }}</h4>
    <div class="d-flex">
      <button type="button" (click)="edit = true" class="close" aria-label="Close">
        <i class="nb-compose"></i>
      </button>
      <button type="button" (click)="close()" class="close" aria-label="Close">
        <i class="nb-close"></i>
      </button>
    </div>
  </div>
  <div *ngIf="object.value.length === 0 || edit" class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <label for="contact" class="col-form-label col-md-4">Destinataire *</label>
          <div class="form-group col-md-8">
            <div class="input-group input-group-sm">
              <ng-select class="w-100" [items]="contacts | async" [multiple]="true" [closeOnSelect]="true" bindLabel="firstname" placeholder=""
                formControlName="recipients">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">{{item.firstname}} {{ item.lastname }}</span>
                  <span class="ng-value-icon right" aria-hidden="true">×</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.firstname}} {{ item.lastname }}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <label for="object" class="col-form-label col-md-4">Objet *</label>
          <div class="input-group input-group-sm col-md-8">
            <input id="object" class="form-control" [class.form-control-danger]="object.invalid && object.touched && object.errors?.required"
              formControlName="object" name="object">
          </div>
          <div class="col-md-4"></div>
          <small class="form-text ml-0 col-md-8 error" *ngIf="object.invalid && object.touched && object.errors?.required">
            Ce champ est requis !
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <label for="content" class="col-form-label col-md-4"></label>
          <div class="input-group input-group-sm col-md-8">
            <textarea rows="6" id="content" class="form-control" name="content" formControlName="content">
                                </textarea>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mail.files.length > 0" class="row">
      <div class="col-md-12">
        <div class="row">
          <label for="content" class="col-form-label col-md-4"></label>
          <ul class="col-md-8">
            <li class="file d-flex justify-content-between align-items-center" *ngFor="let file of mail.files">
              <span>{{ file.name }} ({{ file.size }} KO)</span>
              <i (click)="removeFile(file)" class="nb-trash"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="object.value.length > 0 && !edit" class="modal-body">
    <div class="small">
      {{ content.value }}
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-sm btn-danger">
      <i class="fa fa-close mr-1"></i>
      <span i18n>Annuler</span>
    </button>
    <button type="submit" class="btn cursor-pointer btn-sm btn-success">
      <i class="fa fa-send mr-1"></i>
      <span i18n>Envoyer</span>
    </button>
  </div>
</form>

<ng-template #rt let-r="result" let-t="term">
  {{ r.firstname }} {{ r.lastname}}
</ng-template>