@import '../../styles/themes'; 
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
    ul {
        list-style: none;
    }
    .file {
        color: #777;
        padding: 10px;
        box-shadow: 2px 5px 12px 0 #dfe3eb;
        background-color: nb-theme(smart-table-bg-even);
        i {
            font-size: 2rem;
            cursor: pointer;
        }
        i:hover {
            color: nb-theme(color-success);
        }
    }
    .col-form-label {
        color: #777;
    }
    .small {
        color: #777;
    }
/deep/ .btn-select {
    padding: 0.65rem 1.125rem;
}
.modal-header .close {
    font-size: 2rem;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}

.modal-header .close:hover {
    background-color: #f2f2f2;
}
}
