<nb-card>
  <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
    <span class="d-flex align-items-center pl-2 m-0">Tarifs Evénnement</span>
    <card-header-actions [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)">
    </card-header-actions>
  </nb-card-header>
  <nb-card-body class="p-0">
    <div class="consumption-table p-0">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Evènnement">
          <div class="stats-month" [class.active]="isActiveEvent(event)" *ngFor="let event of eventTariffs">
            <div class="d-flex flex-column">
              <span class="month">{{ event.event.value }}</span>
              <span class="small">{{ event.event.start | date:'dd MMM' }} à {{ event.event.end | date:'dd MMM yyyy' }}</span>
              <span class="min small">{{ event.event.duration }} nuits durée min</span>
            </div>
            <div class="results d-flex align-items-center">
              <b>{{ event.price }}
              </b> $ / nuit
              <span (click)="edit(event)" class="action ml-2">
                <i class="nb-compose"></i>
              </span>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>