@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
    nb-card-header {
        height: 62px;
        span {
            i {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
    nb-card-body {
        overflow: visible;
        position: relative;
    }
    .ion-ios-people-outline {
        font-size: 1.8rem;
    }
    /deep/ nb-route-tabset ul:not(.pagination) {
        padding: 0 !important;
        flex-wrap: nowrap;
    }
    /deep/ nb-route-tabset ul.pagination {
        border-bottom: none !important;
        display: flex;
        justify-content: flex-end;
    }
    /deep/ nb-route-tabset ul li:not(.page-item) a {
        padding: 1.25rem;
        color: #a4abb3;
    }
    /deep/ nb-route-tabset ul li.page-item a {
        padding: 0.5rem 0.75rem;
        font-size: 70% !important;
    }
    /deep/ nb-route-tabset ul li:not(.page-item) a::before {
        height: 0 !important;
    }
    /deep/ nb-route-tabset ul li:not(.page-item):not(.dropdown-item) {
        border: 0;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        height: 62px;
        display: flex;
        align-items: center;
        color: nb-theme(color-fg);
        font-size: 1.125rem;
        font-weight: 500;
    }
    /deep/ nb-route-tabset ul li:hover:not(.page-item):not(.dropdown-item) {
        color: nb-theme(menu-fg);
        font-weight: 600;
    }
    /deep/ nb-route-tabset ul li:not(.page-item):not(.dropdown-item).active {
        border-bottom: 6px solid nb-theme(color-fg-highlight);
        color: nb-theme(menu-fg) !important;
        font-weight: 600 !important;
    }
    @include media-breakpoint-down(is) {
        /deep/ nb-route-tabset ul li:not(.page-item):not(.dropdown-item) a {
            font-size: 0.9rem;
        }
    }
}
