<nb-card>
  <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
    <span *ngIf="!isSearching" class="d-flex align-items-center pl-2 m-0">
      <i class="nb-home"></i>Biens
    </span>
    <card-header-actions [isFilterCollapsed]="!withFilters" [actions]="headerActions" (dropdownItemEvent)="handleDropdownEvent($event)"
      (actionEvent)="handleHeaderEvent($event)" *ngIf="!isSearching">
    </card-header-actions>
    <card-header-search class="w-100" [source]="source" [fields]="searchFields" (closeSearch)="isSearching = false" [isSearching]="isSearching"
      *ngIf="isSearching"></card-header-search>
  </nb-card-header>
  <nb-card-body class="p-0">
    <card-mobile-header-actions [actions]="headerActions" (dropdownItemEvent)="handleDropdownEvent($event)" (actionEvent)="handleHeaderEvent($event)"></card-mobile-header-actions>
    <div [ngbCollapse]="isFilterCollapsed">
      <filters (hasFilters)="hasFilters($event.filters)"></filters>
    </div>
    <grid *ngIf="properties.length > 0" [properties]="properties"></grid>
    <div *ngIf="propertyService.properties.length > 0 && properties.length === 0" class="row m-0">
      <div class="col-12 p-4">
        <ngx-alert message="aucun bien"></ngx-alert>
      </div>
    </div>
    <div *ngIf="propertyService.properties.length === 0" class="row m-0">
      <div class="col-12 p-4">
        <ngx-alert [actions]="[{ type: 'link', url: 'create', text: 'Créer un bien' }]" message="Vous n'avez pas encore créer un bien"></ngx-alert>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end p-0">
    <ngx-pagination [source]="source"></ngx-pagination>
  </nb-card-footer>
</nb-card>