@import '../../../@theme/styles/themes';
@include nb-install-component() {
    .bg-overlay {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    /deep/ .collapse-link {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i {
            font-size: 1.3rem;
        }
    }
    /deep/ .collapse-link:hover {
        //border: 1px solid nb-theme(color-success);
        color: nb-theme(color-success);
        box-shadow: nb-theme(shadow);
    }
}