<form [formGroup]="form">

  <div [ngClass]="{'bg-overlay' : hasOverlay}">
  </div>
  <div class="row m-0">
    <div class="col-md-6 p-1">
      <app-identification [class.form-danger]="!identification.valid && isSubmitted" formControlName="identification"></app-identification>
    </div>
    <div class="col-md-6 p-1">
      <app-description formControlName="description"></app-description>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 p-1">
      <app-location formControlName="location"></app-location>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 p-1">
      <amenities [items]="amenties" formControlName="amenities"></amenities>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 p-1">
      <app-equipements [equipements]="property ? property.equipements : []"></app-equipements>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-12 p-1">
      <app-links [links]="property ? property.links : []"></app-links>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-6 p-1">
      <app-pics formControlName="images"></app-pics>
    </div>
    <div class="col-md-6 p-1">
      <documents [documents]="property ? property.images : []"></documents>
    </div>
  </div>
  <btn-options (openChange)="optionsClicked();" (saveClicked)="save()"></btn-options>

</form>