<div class="row">
    <div class="col-md-6">
        <potential-goal></potential-goal>
    </div>
    <div class="col-md-6">
        <potential-revenue></potential-revenue>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <distribution-by-platorm-by-night></distribution-by-platorm-by-night>
    </div>
    <div class="col-md-6">
        <distribution-by-platorm-by-revenue></distribution-by-platorm-by-revenue>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <revenues-expenses-stats></revenues-expenses-stats>
    </div>
</div>