<nb-card>
  <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
    <span *ngIf="!isSearching" class="d-flex align-items-center pl-2 m-0">
      <i class="lnr lnr-clock mr-2"></i>Réservations
    </span>
    <card-header-actions [isFilterCollapsed]="!withFilters" [actions]="headerActions" (dropdownItemEvent)="handleDropdownEvent($event)"
      (actionEvent)="handleHeaderEvent($event)" *ngIf="!isSearching">
    </card-header-actions>
    <card-header-search class="w-100" [source]="source" [fields]="searchFields" (closeSearch)="isSearching = false" [isSearching]="isSearching"
      *ngIf="isSearching"></card-header-search>
  </nb-card-header>
  <nb-card-body class="p-0">
    <card-mobile-header-actions [isFilterCollapsed]="!withFilters" [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)"
      (dropdownItemEvent)="handleDropdownEvent($event)"></card-mobile-header-actions>
    <div class="border-bottom" [ngbCollapse]="isFilterCollapsed">
      <filters [refreshFilters]="refreshFilters" [source]="source" (action)="handleFilter($event.action, $event.data)" [filters]="filters"
        (hasFilters)="hasFilters($event.filters)"></filters>
    </div>
    <div *ngIf="data | async as reservations; else loading">
      <div *ngIf="reservations.length > 0; else noItems">
        <div class="row m-0" *ngIf="!isGridView">
          <div class="col-12 p-0 pt-3">
            <ngx-table [config]="config" [data]="reservations" (actionEvent)="handleRowEvent($event)"></ngx-table>
          </div>
        </div>
        <div class="p-3" *ngIf="isGridView">
          <reservations-grid [reservations]="reservations"></reservations-grid>
        </div>
      </div>
      <ng-template #noItems>
        <div class="row m-0">
          <div class="col-12 p-4">
            <ngx-alert message="Pas de réservation"></ngx-alert>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #loading>
      <div class="d-flex p-4 justify-content-center align-items-center">
        <div class="loading-spinner"></div>
      </div>
    </ng-template>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end p-0">
    <ngx-pagination [source]="source"></ngx-pagination>
  </nb-card-footer>
</nb-card>