nb-card-header {
    height: 62px;
    span {
        i {
            font-size: 2rem;
            text-align: center;
        }
        .lnr {
            font-size: 1.5rem !important;
        }
    }
}
nb-card-body {
    overflow: visible;
    position: relative;
}
.dropdown .dropdown-menu {
    max-height: 300px;
    overflow-x: visible;
    overflow-y: auto;
    width: 100% !important;
}