<form (ngSubmit)="submit(form)" [formGroup]="form">
  <div class="modal-header">
    <h4 class="modal-title" i18n>New Event</h4>
    <button type="button" (click)="close()" class="close" aria-label="Close">
      <i class="nb-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <select formControlName="calendar" class="custom-select custom-select-sm">
        <option *ngFor="let calendar of calendars" [value]="calendar.id">{{ calendar.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm">
        <input (keyup)="titleChanged($event)" formControlName="title" type="text" placeholder="Title" class="form-control" />
      </div>
    </div>
    <div class="form-group row align-items-center">
      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <input formControlName="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #startDate="ngbDatepicker">
          <span class="input-group-btn">
            <button class="btn btn-secondary border-left-0 pl-3 pr-3" (click)="startDate.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-6" *ngIf="!allDay">
        <select formControlName="startTime" class="custom-select custom-select-sm">
          <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
        </select>
      </div>
      <div class="col-md-6" [ngClass]="{'pt-3': !allDay }">
        <div class="input-group input-group-sm">
          <input formControlName="endDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #endDate="ngbDatepicker">
          <div class="input-group-btn">
            <button class="btn btn-secondary border-left-0 pl-3 pr-3" (click)="endDate.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6" [ngClass]="{'pt-3': !allDay }" *ngIf="!allDay">
        <select formControlName="endTime" class="custom-select custom-select-sm">
          <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm">
        <input formControlName="location" type="text" placeholder="Location" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <nb-checkbox (change)="allDayChanged($event.target.checked)" formControlName="allDay" i18n>All day</nb-checkbox>
    </div>
    <div class="form-group">
      <div class="colors">
        <input formControlName="color" type="hidden">
        <div *ngFor="let color of colors" [style.backgroundColor]="color" (click)="setColor(color)" [class.active]="form.get('color').value === color"
          class="color"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-success">
      <i class="fa fa-save mr-1"></i>
      <span i18n>Add</span>
    </button>
  </div>
</form>