<nb-card>
  <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
    <span class="d-flex align-items-center pl-2 m-0">
      <i (click)="back()" class="nb-arrow-thin-left mr-2 cursor-pointer"></i>
      <i class="nb-gear mr-2"></i>
      {{ pageTitle }}
    </span>
  </nb-card-header>
  <nb-card-body class="p-0">
    <div class="row m-0">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="row pt-4">
            <div class="col-md-6">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <label for="nightAmount" class="col-form-label small col-md-4">Bien *</label>
                    <div class="col-md-8">
                      <ngx-select (selectChanged)="setProperty($event)" [element]="currentProperty" [elements]="properties"></ngx-select>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <label for="title" class="col-form-label small col-md-4">Titre *</label>
                    <div class="input-group input-group-sm col-md-8">
                      <input id="title" class="form-control" [class.form-control-danger]="title.invalid && title.touched && title.errors?.required"
                        formControlName="title" name="title">
                    </div>
                    <small class="form-text error" *ngIf="title.invalid && title.touched && title.errors?.required">
                      Ce champ est requis !
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="description" class="col-form-label small col-md-4">Description</label>
                <div class="input-group input-group-sm col-md-8">
                  <textarea rows="3" id="description" class="form-control" name="description" formControlName="description">
                                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="nom" class="col-form-label small col-md-4">Début *</label>
                <div class="input-group input-group-sm col-md-8">
                  <input class="form-control" [class.form-control-danger]="startDate.invalid && startDate.touched && startDate.errors?.required"
                    formControlName="startDate" placeholder="yyyy-mm-dd" name="startDate" ngbDatepicker #start="ngbDatepicker">
                  <span class="input-group-btn">
                    <h2 [class.border-danger]="startDate.invalid && startDate.touched && startDate.errors?.required" class="btn btn-secondary border-left-0 p-2"
                      (click)="start.toggle()">
                      <i class="fa fa-calendar"></i>
                    </h2>
                  </span>
                </div>
                <small class="form-text error" *ngIf="startDate.invalid && startDate.touched && startDate.errors?.required">
                  Ce champ est requis !
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="nom" class="col-form-label small col-md-4">Fin *</label>
                <div class="input-group input-group-sm col-md-8">
                  <input class="form-control" [class.form-control-danger]="endDate.invalid && endDate.touched && endDate.errors?.required"
                    formControlName="endDate" placeholder="yyyy-mm-dd" name="endDate" ngbDatepicker #end="ngbDatepicker">
                  <span class="input-group-btn">
                    <h2 [class.border-danger]="endDate.invalid && endDate.touched && endDate.errors?.required" class="btn btn-secondary border-left-0 p-2 pl-2 pr-2"
                      (click)="end.toggle()">
                      <i class="fa fa-calendar"></i>
                    </h2>
                  </span>
                </div>
                <small class="form-text error" *ngIf="endDate.invalid && endDate.touched && endDate.errors?.required">
                  Ce champ est requis !
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label small col-md-4">Priorité *</label>
                <div class="col-md-8">
                  <div formControlName="priority" ngbRadioGroup class="d-flex flex-wrap btn-group btn-group-toggle btn-toggle-radio-group">
                    <label ngbButtonLabel class="btn btn-tn btn-outline-secondary text-secondary">
                      <input ngbButton type="radio" value="basse"> Basse
                    </label>
                    <label ngbButtonLabel class="btn btn-tn btn-outline-secondary text-secondary">
                      <input ngbButton type="radio" value="normale"> Normale
                    </label>
                    <label ngbButtonLabel class="btn btn-tn btn-outline-secondary text-secondary">
                      <input ngbButton type="radio" value="urgent"> Urgent
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="nightAmount" class="col-form-label small col-md-4">Type *</label>
                <div class="col-md-4">
                  <ngx-select [elements]="categories" [(element)]="currentCategory" (selectChanged)="setCategory($event)"></ngx-select>
                </div>
                <div *ngIf="subCategories.length > 0" class="col-md-4">
                  <ngx-select [elements]="subCategories" [element]="currentSubCategory" (selectChanged)="setSubCategory($event)"></ngx-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="nom" class="col-form-label small col-md-4">Date de souscription</label>
                <div class="input-group input-group-sm col-md-8">
                  <input class="form-control" formControlName="subscriptionDate" placeholder="yyyy-mm-dd" name="subscriptionDate" ngbDatepicker
                    #subscriptionDate="ngbDatepicker">
                  <span class="input-group-btn">
                    <h2 class="btn btn-secondary border-left-0 p-2" (click)="subscriptionDate.toggle()">
                      <i class="fa fa-calendar"></i>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label for="nightAmount" class="col-form-label small col-md-4">Echéance *</label>
                <div class="col-md-8">
                  <ngx-select [elements]="deadlines" [element]="currentDeadline" (selectChanged)="setDeadline($event)"></ngx-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <label for="nightAmount" class="col-form-label small col-md-4">Statut *</label>
                <div class="col-md-8">
                  <ngx-select [elements]="statuses" [element]="statusDefault" (selectChanged)="setStatus($event)"></ngx-select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label for="contact" class="col-form-label small col-md-4">Prestataire *</label>
                <div class="form-group col-md-8">
                  <div class="input-group input-group-sm">
                    <input id="contact" type="text" class="form-control" [inputFormatter]="formatter" formControlName="provider" [ngbTypeahead]="search"
                      (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value);" (selectItem)="assignContact($event)"
                      #instance="ngbTypeahead" [resultTemplate]="rt" />
                    <span class="input-group-btn">
                      <h2 class="btn btn-secondary border-left-0 p-2" (click)="newContact()">
                        <i class="fa fa-plus"></i>
                      </h2>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="numeroContrat" class="col-form-label small col-md-4">Numéro du contract</label>
                <div class="input-group input-group-sm col-md-8">
                  <input id="numeroContrat" class="form-control" formControlName="numeroContrat" name="numeroContrat">
                </div>
              </div>
              <div *ngIf="reservations.length > 0" class="row">
                <label for="nightAmount" class="col-form-label small col-md-4">Réservation</label>
                <div class="col-md-8">
                  <ngx-select [elements]="reservations" [element]="reservationDefault" (selectChanged)="setReservation($event)"></ngx-select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div [formGroup]="tariff" class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <label class="col-form-label small col-md-4">Montant *</label>
                    <div class="col-md-8">
                      <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="amount" placeholder="Montant" name="numeroContrat">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <ngx-select [elements]="tvas" [element]="currentTva" (selectChanged)="setTva($event)"></ngx-select>
                    </div>
                    <div class="col-md-4">
                      <ngx-select [elements]="frequencies" [element]="currentFrequency" (selectChanged)="setFrequency($event.element)"></ngx-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #rt let-r="result" let-t="term">
            {{ r.firstname }} {{ r.lastname}}
          </ng-template>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button [disabled]="!form.valid" (click)="save()" type="submit" class="btn btn-sm btn-success">
      <i class="fa fa-save mr-1"></i>
      <span i18n>Sauvegarder</span>
    </button>
  </nb-card-footer>
</nb-card>