@import '../../../../@theme/styles/themes'; 
@include nb-install-component() {
    .payements-header {
        color: nb-theme(social-color-github);
        padding: 10px 0;
        text-transform: uppercase;
    }
}
