@import '../../../../@theme/styles/themes'; 
@include nb-install-component() {
    .payements-header {
        background-color: darken(nb-theme(smart-table-bg-even), 2%);
        color: nb-theme(social-color-github);
        padding: 10px 0;
    }
}