<nb-card>
  <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
    <span class="d-flex align-items-center pl-2 m-0">Tarifs Saison</span>
    <card-header-actions [actions]="seasonHeaderActions" (actionEvent)="handleHeaderEvent($event)">
    </card-header-actions>
  </nb-card-header>
  <nb-card-body class="p-0">
    <div class="consumption-table p-0">
      <nb-tabset (changeTab)="tabChange($event)" fullWidth>
        <nb-tab *ngFor="let period of periods" [tabTitle]="period.value" [active]="isActivePeriod(period)">
          <div *ngFor="let season of seasons" [class.active]="isActiveSeason(season)" class="stats-month">
            <div class="d-flex flex-column">
              <span class="month">{{ season.value }}</span>
              <span class="date small">{{ season.start | date:'dd MMM' }} à {{ season.end | date:'dd MMM yyyy' }}</span>
              <span class="min small">{{ period.minDuration }} nuits durée min</span>
            </div>
            <div class="results d-flex align-items-center">
              <b>{{ seasonalTariffService.findFirstByAndBy({'tariff.id': tariff.id,'season.id': season.id,'period.id': period.id}).price
                }}
              </b> $ / nuit
              <span (click)="edit(seasonalTariffService.findFirstByAndBy({'tariff.id': tariff.id,'season.id': season.id,'period.id': period.id}))"
                class="action ml-2">
                <i class="nb-compose"></i>
              </span>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>