<nb-card>
  <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
    <span class="d-flex align-items-center pl-2 m-0">Tarifs Saison</span>
    <card-header-actions [actions]="seasonHeaderActions" (actionEvent)="handleHeaderEvent($event)">
    </card-header-actions>
  </nb-card-header>
  <nb-card-body class="p-0">
    <div class="consumption-table p-0">
      <nb-tabset (changeTab)="tabChange($event)" fullWidth>
        <nb-tab *ngFor="let tariff of tariffSaison" [tabTitle]="tariff.title" [active]="tariff.active">
          <div class="stats-month" *ngFor="let season of tariff.seasons">
            <div class="d-flex flex-column">
              <span class="month">{{ season.title }}</span>
              <span class="date small">{{ season.startDate | date:'dd MMM' }} à {{ season.endDate | date:'dd MMM yyyy' }}</span>
              <span class="min small">{{ season.minDuration }} nuits durée min</span>
            </div>
            <div class="results d-flex align-items-center">
              <b>{{ season.amount }}</b> $ / nuit
              <span (click)="edit(season)" class="action ml-2">
                <i class="nb-compose"></i>
              </span>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>