@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    .payements-header {
        color: nb-theme(social-color-github);
        padding: 10px 0;
        text-transform: uppercase;
    }
    .bg-grey {
        background-color: nb-theme(smart-table-bg-even);
    }
    .mobile-header-col {
        text-transform: uppercase !important;
        font-size: 75% !important;
    }
}
