@import '../../../../@theme/styles/themes'; 
@include nb-install-component() {
    .payements-header {
        background-color: nb-theme(smart-table-bg-even);
        color: nb-theme(social-color-github);
        padding: 10px 0;
    }
    .bg-grey {
        background-color: nb-theme(smart-table-bg-even);
    }
}