<div class="row border-bottom pb-3 pt-3">
  <div class="col-4">
    <span class="small">De {{ payment.payer.firstname }} {{ payment.payer.lastname }} à {{ payment.payee.firstname }} {{ payment.payee.lastname
      }}
    </span>
  </div>
  <div class="col-3">
    <div>
      <span class="small">{{ payment.paymentDate | date:'dd/MM/yyyy'}}</span>
    </div>
    <div class="mt-1 mb-1">
      <span [class]="'badge p-1 ' + payment.status.cssClass">{{ payment.status.value }}</span>
    </div>
    <div>
      <span class="small">
        {{ payment.price.value }} {{ payment.price.currency.symbol }}
      </span>
    </div>
  </div>
  <div class="col-3">
    <span class="small">{{ payment.type.value }}</span>
    <br/>
    <span class="small">{{ payment.method.value }}</span>
  </div>
  <div class="col-2 pl-0 d-flex justify-content-end">
    <a (click)="showDropdown(payment)" class="action d-flex d-md-none d-lg-none d-xl-none">
      <i class="fa fa-ellipsis-h"></i>
    </a>
  </div>
</div>