<div class="dropdown w-100 mr-2 d-flex align-items-center" ngbDropdown>
  <h2 [ngClass]="{ 'active': element.value !== 'Tous' && withActive }" class="btn btn-select btn-tn btn-outline-secondary d-flex justify-content-between"
    ngbDropdownToggle>
    <span [class.text-secondary]="element.value === 'Tous'" *ngIf="element.value" class="current-element">{{ element.label }}</span>
    <span *ngIf="!element.value" class="current-element">{{ default }}</span>
    <i [class.text-secondary]="element.value === 'Tous'" class="fa fa-caret-down pl-1"></i>
  </h2>
  <ul class="dropdown-menu" ngbDropdownMenu>
    <li [class.font-weight-bold]="element && element.value === e.value" *ngFor="let e of elements" (click)="setElement(e);" class="dropdown-item">{{ e.value }}</li>
  </ul>
</div>