<nb-card>
  <nb-card-header class="d-flex p-0 align-items-center justify-content-between">
    <span *ngIf="!isSearching" class="d-flex align-items-center pl-2 m-0">
      <i class="ion-ios-folder-outline mr-2"></i>
      Documents
    </span>
    <card-header-actions [isFilterCollapsed]="!withFilters" *ngIf="!isSearching" [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)"
      (dropdownItemEvent)="handleDropdownEvent($event)">
    </card-header-actions>
    <locatus-card-search class="w-100" (searchChange)="onSearch($event)" [fields]="searchFields" (closeSearch)="isSearching = false"
      [isSearching]="isSearching" *ngIf="isSearching"></locatus-card-search>
  </nb-card-header>
  <nb-card-body class="p-0">
    <card-mobile-header-actions [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)" (dropdownItemEvent)="handleDropdownEvent($event)"></card-mobile-header-actions>
    <div class="border-bottom" [ngbCollapse]="isFilterCollapsed">
      <locatus-filters [config]="filters" (action)="handleFilter($event.action, $event.data)" (hasFilters)="applyFilters($event.filters, $event.config)"></locatus-filters>
    </div>
    <div *ngIf="loaded$ | async; else loading">
      <div *ngIf="data | async as documents">
        <div *ngIf="(total$ | async) > 0; else noItems">
          <div class="row m-0">
            <div class="col-12 p-0 pt-3">
              <ngx-table [config]="config" [data]="data | async" (actionEvent)="handleRowEvent($event)"></ngx-table>
            </div>
          </div>
        </div>
        <ng-template #noItems>
          <div class="row m-0">
            <div class="col-12 p-4">
              <ngx-alert message="Pas de documents"></ngx-alert>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <ng-template #loading>
      <div class="d-flex p-4 justify-content-center align-items-center">
        <div class="loading-spinner"></div>
      </div>
    </ng-template>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end p-0">
    <locatus-pagination [paging]="pagination$ | async" [total]="total$ | async" (changed)="paginate($event)"></locatus-pagination>
  </nb-card-footer>
</nb-card>