<div class="row border-bottom pb-3 pt-3">
  <div class="col d-flex align-items-center">
    <span class="small">{{ payment.deadlineDate | date:'dd MMM yyyy'}}</span>
  </div>
  <div class="col d-flex align-items-center">
    <span class="small">De {{ payment.payer.firstname }} {{ payment.payer.lastname }} à {{ payment.payee.firstname }} {{ payment.payee.lastname
      }}
    </span>
  </div>
  <div class="col d-flex align-items-center">
    <span class="small">
      <span class="text-success payment-type small" *ngIf="payment.type.isIncome">+</span>
      <span class="text-danger payment-type small" *ngIf="payment.type.isOutgo">-</span>
      {{ payment.price.value }} {{ payment.price.currency.symbol }}
    </span>
  </div>
  <div class="col d-flex align-items-center">
    <span [class]="'badge p-1 ' + payment.status.cssClass">{{ payment.status.value }}</span>
  </div>
  <div class="col d-flex flex-column">
    <span class="text-success small mr-1" *ngIf="payment.type.isIncome">Revenue</span>
    <span class="text-danger small mr-1" *ngIf="payment.type.isOutgo">Dépense</span>
    <span class="small">{{ payment.type.value }}</span>
  </div>
  <div class="col d-flex align-items-center">
    <span class="small">{{ payment.method.value }}</span>
  </div>
  <div class="col d-flex justify-content-end">
    <div class="dropdown" ngbDropdown>
      <a class="action" ngbDropdownToggle>
        <i class="fa fa-ellipsis-v"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <li (click)="sendNotification(payment)" class="dropdown-item">
          <i class="fa fa-bell mr-1"></i>
          Envoyer un rappel
        </li>
        <li class="dropdown-item">
          <i class="fa fa-hourglass-half mr-1"></i>
          Envoyer l'avis d'échéance
        </li>
        <li class="dropdown-item">
          <i class="fa fa-upload mr-1"></i>
          Document
        </li>
        <div class="dropdown-divider"></div>
        <li (click)="edit(payment)" class="dropdown-item">
          <i class="fa fa-edit mr-1"></i>éditer</li>
        <li (click)="delete(payment)" class="dropdown-item">
          <i class="fa fa-trash mr-1"></i>supprimer</li>
      </ul>
    </div>
  </div>
</div>