<div class="row">
  <div *ngFor="let reservation of reservations" class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <nb-card class="w-100">
      <nb-card-header class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center justify-content-end">
          <!-- Actions -->
          <div class="position-relative">
            <div class="reservation-actions">
              <div class="dropdown" ngbDropdown>
                <a class="action" ngbDropdownToggle>
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                  <li class="dropdown-item">
                    <i class="fa fa-sign-in mr-1"></i>
                    Check in
                  </li>
                  <li class="dropdown-item">
                    <i class="fa fa-sign-out mr-1"></i>
                    Check out
                  </li>
                  <li class="dropdown-item">
                    <i class="fa fa-comment mr-1"></i>
                    Commentaire
                  </li>
                  <li [routerLink]="'/pages/documents/reservations/' + reservation.id + '/documents'" class="dropdown-item">
                    <i class="fa fa-upload mr-1"></i>
                    Document
                  </li>
                  <div class="dropdown-divider"></div>
                  <li [routerLink]="reservation.id + '/edit'" class="dropdown-item">
                    <i class="fa fa-edit mr-1"></i>éditer
                  </li>
                  <li (click)="delete(reservation)" class="dropdown-item">
                    <i class="fa fa-trash mr-1"></i>supprimer</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end Actions -->
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
          <span class="card-title d-flex align-items-center property-type small pr-3">{{ reservation.property.title }}</span>
          <div>
            <span [class]="'badge small ' + reservation.status.cssClass">{{ reservation.status.value }}</span>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h6 class="card-title">
            <span class="small">{{ reservation.lodger.firstname }} {{ reservation.lodger.lastname }}</span>
            <br/>
            <span class="small">{{ reservation.lodger.phone }}</span>
            <br/>
            <span class="small pl-1">
              <i class="fa fa-users mr-1"></i> {{ reservation.nbrAdultes }}
            </span>
          </h6>
          <div class="d-flex flex-column">
            <span class="small">Solde: {{ reservation.balance.value }} {{ reservation.balance.currency.symbol }}</span>
            <span class="small">Réglé: {{ reservation.adjusted.value }} {{ reservation.adjusted.currency.symbol }}</span>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="small text-muted pb-1">
          {{ reservation.start | date:'dd MMM yyyy' }} - {{ reservation.end | date:'dd MMM yyyy' }}
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>