<div class="d-none d-md-flex border-bottom row m-0 pb-1">
  <div *ngFor="let header of config.header" [class]="header.width" class="d-flex align-items-center text-muted d-flex">
    <span class="text-secondary header-col font-weight-bold mr-1">{{ header.title }}</span>
  </div>
</div> 

<div class="d-flex d-md-none d-lg-none d-xl-none border-bottom row m-0 pb-1">
  <div *ngFor="let header of config.mobileHeader" [class]="header.width + ' p-1'" class="d-flex align-items-center text-muted d-flex">
    <span class="text-secondary header-col font-weight-bold mr-1">{{ header.title }}</span>
  </div>
</div>

<row class="row-data" *ngFor="let row of data" [row]="row" (actionEvent)="actionClicked($event)" [config]="config"></row>