<div class="m-0 row p-2 pt-4">
  <div class="col-md-4">
    <ngx-select [elements]="properties" [element]="property" (selectChanged)="setCurrentProperty($event.element)"></ngx-select>
  </div>
  <div class="col-md-4">
    <ngx-select [elements]="statuses" [element]="status" (selectChanged)="setStatus($event.element)"></ngx-select>
  </div>
  <div class="col-md-4">
    <ngx-select [elements]="payementStatus" [element]="paymentStat" (selectChanged)="setPaymentStatus($event.element)"></ngx-select>
  </div>
</div>