<nb-auth-block>
    <h2 class="title">Se connecter</h2>
    <small class="form-text sub-title">Salut! Connectez-vous avec votre nom d'utilisateur ou email</small>
    <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger">
            <div>
                <strong>Oh snap!</strong>
            </div>
            <div *ngFor="let error of errors">{{ error }}</div>
        </nb-alert>
        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success">
            <div>
                <strong>Hooray!</strong>
            </div>
            <div *ngFor="let message of messages">{{ message }}</div>
        </nb-alert>
        <div class="form-group">
            <label for="input-email" class="sr-only">Adresse e-mail</label>
            <input [class.form-control-danger]="email.invalid && email.touched || email.invalid && submitted" class="form-control" [(ngModel)]="user.email"
                #email="ngModel" name="email" required="true" id="input-email" pattern=".+@.+\..+" placeholder="Email address">
            <error-message [control]="email" *ngIf="!email.valid && email.touched || submitted && !email.valid" class="m-0 form-text error">
            </error-message>
        </div>
        <div class="form-group">
            <label for="input-password" class="sr-only">Mot de passe</label>
            <input [class.form-control-danger]="password.invalid && password.touched || password.invalid && submitted" class="form-control"
                [(ngModel)]="user.password" required="true" minlength="6" maxlength="10" #password="ngModel" name="password"
                type="password" id="input-password" placeholder="Password">
            <error-message [control]="password" *ngIf="!password.valid && password.touched || submitted && !password.valid" class="m-0 form-text error">
            </error-message>
        </div>
        <div class="form-group accept-group col-sm-12">
                <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Se souvenir de moi </nb-checkbox>
            <a class="forgot-password" routerLink="../request-password">Mot de passe oublié ?</a>
        </div>
        <button class="btn btn-hero-success w-100" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
            Se connecter
        </button>
    </form>
    <div class="links">
        <small class="form-text">Ou se connecter avec:</small>
        <div class="socials">
            <a (click)="loginWithGoogle()" class="socicon-google cursor-pointer with-icon"></a>
        </div>
        <small class="form-text">
            Vous n'avez pas de compte?
            <a routerLink="../register">
                <strong>S'inscrire</strong>
            </a>
        </small>
    </div>
</nb-auth-block>