<nb-card class="border">
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span [class.text-danger]="form.invalid && btnSaveClicked" (click)="isCollapsed = !isCollapsed" class="d-flex cursor-pointer align-items-center">
      <i class="ion-ios-home-outline mr-2"></i>
      Identification
    </span>
    <a class="collapse-link" (click)="isCollapsed = !isCollapsed">
      <i *ngIf="!isCollapsed" class="nb-arrow-up"></i>
      <i *ngIf="isCollapsed" class="nb-arrow-down"></i>
    </a>
  </nb-card-header>
  <nb-card-body [ngbCollapse]="isCollapsed">
    <form [formGroup]="form">
      <div class="row pb-3">
        <div class="col-md-12 p-0">
          <div class="form-group row ml-0 mr-0">
            <label for="nom" class="col-sm-4 col-form-label">Nom *</label>
            <div class="input-group input-group-sm col-sm-8">
              <input id="nom" type="text" [class.border-danger]="form.controls.name.invalid && btnSaveClicked" formControlName="name" class="form-control"
                placeholder="Nom">
            </div>
          </div>
        </div>
        <div class="col-12 p-0">
          <div class="form-group row ml-0 mr-0">
            <label for="description" class="col-sm-4 col-form-label">Description</label>
            <div class="input-group input-group-sm col-sm-8">
              <textarea id="description" rows="5" [class.border-danger]="form.controls.description.invalid && btnSaveClicked" formControlName="description"
                placeholder="Description du bien" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="form-group row ml-0 mr-0">
            <label for="pltaform" class="col-sm-4 col-form-label">Platform</label>
            <div class="col-md-8">
              <ngx-select [elements]="platforms" [element]="platform" (selectChanged)="setPlatform($event.element)"></ngx-select>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="form-group row ml-0 mr-0">
            <label for="type" class="col-sm-4 col-form-label">Type *</label>
            <div class="col-md-8">
              <ngx-select [elements]="types" [element]="type" (selectChanged)="setType($event.element)"></ngx-select>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="form-group row ml-0 mr-0">
            <label for="owner" class="col-sm-4 col-form-label">Propriétaire *</label>
            <div class="col-md-8">
              <ng-select class="w-100" [items]="owners | async" [multiple]="false" [closeOnSelect]="true" bindLabel="firstname" placeholder=""
                formControlName="owner">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  <span class="ng-value-label">{{item.firstname}} {{ item.lastname }}</span>
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.firstname}} {{ item.lastname }}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="form-group row ml-0 mr-0">
            <div class="col-12 d-flex justify-content-end">
              <a class="btn btn-tn btn-success d-flex align-items-center cursor-pointer" routerLink="/pages/tariff">
                <i class="ion-ios-pricetag-outline mr-1"></i> Tarifs
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>