<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span (click)="isCollapsed = !isCollapsed" class="d-flex cursor-pointer align-items-center">
      <i class="ion-ios-tennisball-outline mr-2"></i>
      Installations
    </span>
    <a class="collapse-link" (click)="isCollapsed = !isCollapsed">
      <i *ngIf="!isCollapsed" class="nb-arrow-up"></i>
      <i *ngIf="isCollapsed" class="nb-arrow-down"></i>
    </a>
  </nb-card-header>
  <nb-card-body [ngbCollapse]="isCollapsed" class="p-0">
    <div class="row m-0 p-2 pt-4">
      <div *ngFor="let amenty of amenties" class="col-md-3">
        <app-equipement [equipements]="[]" [title]="amenty.name" type="success">
          <i class="nb-power-circled"></i>
        </app-equipement>
      </div>
    </div>
  </nb-card-body>
</nb-card>