@import '../../../@theme/styles/themes'; 
@include nb-install-component() {
    nb-card-header {
        height: 62px;
        span {
            i {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
    /deep/ ngx-select .dropdown {
        min-width: 180px !important;
    }

    .danger-card {
        background-color: nb-theme(card-header-danger-bg);
        color: white;
    }
    .nb-bar-chart {
        font-size: 1.8rem;
    }
    .s-type {
        font-size: 1.6rem;
    }
    .payements-header {
        color: nb-theme(social-color-github);
        padding: 10px 0;
    }
    .dropdown-item {
        cursor: pointer !important;
        text-transform: lowercase !important;
    }
    
    a, .btn {
        cursor: pointer;
    }

    .action {
        width: 30px;
        height: 30px;
        border:1px solid nb-theme(separator);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .action:hover {
        color: nb-theme(color-success);
        box-shadow: nb-theme(shadow);
        border: none;
    }
    .badge {
        color: white !important;
    }

    /deep/ ngb-datepicker {
        border: none !important;
    }
    .dropdown {
        min-width: 156px;
    }
    .dropdown-menu.w-100 {
        width: 100% !important;
        min-width: 156px;
        ul {
            width: 100% !important;
        }
    }
    .dropdown-menu.w-drop {
        width: 571px !important;
    }
    .dropdown .dropdown-menu {
        .dropdown-item.datepicker-item:hover {
          background-color: transparent !important;
          color: #777777 !important;
        }
        .dropdown-item:hover {
            background-color: nb-theme(color-success) !important;
        }
    }
    .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
    }
    .custom-day.focused {
        background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }
}
