<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center flex-wrap">
    <span class="d-flex align-items-center">
      <i class="nb-bar-chart mr-2"></i>
      Finances
    </span>
    <ngx-select [elements]="periods" [element]="period" (selectChanged)="setPeriod($event.element)"></ngx-select>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch">
        <income class="w-100"></income>
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <outgo class="w-100"></outgo>
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <profits class="w-100"></profits>
      </div>
    </div>
    <nb-card>
      <nb-card-header class="d-flex p-0 justify-content-between align-items-center flex-wrap">
        <span *ngIf="!isSearching" class="d-flex pl-3 align-items-center">
          Dépenses / Revenues
        </span>
        <card-header-actions [isFilterCollapsed]="!withFilters" [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)"
          (dropdownItemEvent)="handleDropdownEvent($event)" *ngIf="!isSearching">
        </card-header-actions>
        <card-header-search class="w-100" [source]="source" [fields]="searchFields" (closeSearch)="isSearching = false" [isSearching]="isSearching"
          *ngIf="isSearching"></card-header-search>
      </nb-card-header>
      <nb-card-body class="p-0">
        <card-mobile-header-actions [isFilterCollapsed]="!withFilters" [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)"
          (dropdownItemEvent)="handleDropdownEvent($event)"></card-mobile-header-actions>
        <div class="border-bottom" [ngbCollapse]="isFilterCollapsed">
          <filters [source]="source" (action)="handleFilter($event.action, $event.data)" [filters]="filters" (hasFilters)="hasFilters($event.filters)"></filters>
        </div>
        <payments-table *ngIf="data.length > 0" [withBorders]="false" [isBgGrey]="false" [withAdd]="false" [data]="data"></payments-table>
        <ngx-alert *ngIf="data.length === 0" message="Pas de paiements"></ngx-alert>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end p-0">
        <ngx-pagination [refresh]="refreshPagination" [source]="source"></ngx-pagination>
      </nb-card-footer>
    </nb-card>
  </nb-card-body>
</nb-card>