<nb-card>
  <nb-card-header class="d-flex p-0 align-items-center justify-content-between">
    <span class="d-flex align-items-center">
      <i class="nb-gear"></i>Services
    </span>
    <card-header-actions [actions]="headerActions" (actionEvent)="handleHeaderEvent($event)">
    </card-header-actions>
  </nb-card-header>
  <nb-card-body class="p-0">
    <ngb-tabset fullWidth>
      <ngb-tab *ngFor="let category of services" [title]="category.title">
        <ng-template ngbTabContent>
          <div class="row m-0 pt-4 pb-4">
            <div *ngFor="let subCategory of category.subCategories" class="col-md-4">
              <category [subCategory]="subCategory"></category>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </nb-card-body>
</nb-card>